.profile {
  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.description {
  padding: 45px;
  width: 375px;
}

.avatar {
  display: inline-block;
  width: 150px;

  margin-bottom: 35px;
}

.name {
  margin: 0 0 16px 0;

  font-size: 26px;
  font-weight: 700;

  color: #122236;
}

.tag {
  margin: 0 0 14px 0;

  font-size: 20px;

  color: #8594a2;
}

.location {
  font-size: 20px;
  margin: 0px 0px 0px 0px;
  color: #8594a2;
}

.stats {
  display: flex;
  justify-content: space-around;

  padding: 0;
  margin: 0;

  font-size: 16px;
  list-style: none;

  background-color: #f3f6f9;
}

.stats > li {
  flex: 1 1 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 30px;

  position: relative;
}

.stats > li:not(:last-child) {
  border-right: 1px solid #e5eaf1;
}

.label {
  font-size: 18px;

  margin-bottom: 12px;

  color: #768696;
  text-transform: capitalize;
}

.quantity {
  font-size: 18px;
  font-weight: 700;

  color: #263f5a;
}
